body {
    width: 100%;
    height: 100%;
}


#main {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    width: 80vw;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 2vw 2vh;
    width: inherit;
    margin-top: 1vh;
    margin-bottom: 1vh;
    background: #2b2c31;
}

#navbar a {
    text-decoration: none;
    list-style-type: none;
    color: aliceblue;
    font-size: xx-large;
}

#navbar .nav-btn-bg {
    background: #1b6d85;
    border-radius: 1vw;
    padding: 0.05cm;
    box-shadow: black 4px 4px 4px;
}

#navbar .nav-btn-bg:hover {
    padding: 0.08cm;
    text-shadow: #000000 1px 1px 3px;
    box-shadow: black 8px 8px 8px;
}


/*https://chartio.com/resources/tutorials/how-to-resize-an-svg-when-the-window-is-resized-in-d3-js/*/
.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 56.5%;
    vertical-align: top;
    /*overflow: hidden;*/
}

.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

#container {
    display: flex;
    /*width: 100%;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    /*justify-content: center;*/
}


#toolbox {
    margin-top: 0.5vh;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #638869;
}

.button-zoom {
    padding-top: 1vh;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.button-zoom button {
    color: black;
}

#presets {
    padding: 1vh;
    margin: 1vh 1vw;
    /*width: 100%;*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.1cm;
    border: 0.1cm solid #000000;
    flex-wrap: wrap;
}

#presets button {
    display: flex;
    color: black;
}

#presets-nav * {
    z-index: 99;
}

#presets-nav {
    display: flex;
    justify-items: center;
    align-items: end;
    align-items: center;
    width: fit-content;
    height: auto;
}


#input-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: inherit;
}

#input-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.ruleSet-containerClass {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#ruleSet-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ruleSet-Style {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /*margin: 0.5vh;*/
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
}

.labels {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 3cm;
    font-family: monospace;
    font-size: medium;
    font-weight: bold;
    color: #efffe5;
}

.rules {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    width: 100%;
}


input {
    font-family: monospace;
    font-size: large;
    color: black;
    font-weight: bold;
}

.add-new-person {
    text-decoration: none;
    padding: 0.5vw 0.6vw;
    margin: 0.5vh;
    background: #1b6d85;
    border-radius: 2cm;
}

.submit-style {
    font-size: xx-large;
    width: 100%;
    padding: 0.5vh 0.5vw;
    color: chartreuse;
    background: #335613;
}

.submit-style:hover {
    cursor: pointer;
    /*font-size: xxx-large;*/
    /*margin: 1vh;*/
    color: #c7efb0;
    text-shadow: 0 0 5px #000000, 0 0 15px #050000;
    width: 100%;
    padding: 0.5vh 0.5vw;
    background: #518c12;
}


svg {
    border: 0.02cm solid chartreuse;
    background: rgba(0, 0, 0, 1);
}


.tooltip {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: large;
    background: black;
    width: 2rem;
    border-radius: 50%;
    cursor: help;
}

/*https://www.w3schools.com/css/css_tooltip.asp*/
.tooltip .tooltiptext {
    visibility: hidden;
    padding: 1vh 2vw;
    font-size: small;
    background-color: black;
    color: white;
    text-align: left;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    position: absolute;
    visibility: visible;
    margin-right: 6.75cm;
    width: 5.5cm;
    height: fit-content;
    padding: 0.4rem;
    text-align: right;
    text-shadow: black 0.1cm 0.1cm 0.1cm;
    background: rgba(0, 0, 0, 0.68);

}

.input-form-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    justify-content: center;
    height: 100%;
    gap: 0.5cm;
}

.line-attributes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.color-attributes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 0.1cm solid #000000;
    width: 100%;

}

.color-attributes-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.1vh;
}

#preset-select-options {
    color: black;
    width: auto;
    text-align: left;
}

#preset-select-options option {
    color: black;
}

#color-options {
    color: black;
}
#color-options option {
    color: black;
}
#color-options optgroup {
    color: black;
}








/*https://www.sliderrevolution.com/resources/css-dropdown-menu/*/

/*https://codepen.io/anon/embed/pVvXmK?height=500&theme-id=1&slug-hash=pVvXmK&default-tab=result#result-box*/

a {
    text-decoration: none;
}

nav {
    font-family: monospace;
}

ul {
    background: #091425;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

li {
    color: #fff;
    background: #0d51e1;
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
}

li a {
    color: #fff;
}

li:hover,
li:focus-within {
    background: red;
    cursor: pointer;
}

li:focus-within a {
    outline: none;
}

ul li ul {
    background: #0051ff;
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
    visibility: visible;
    opacity: 1;
    display: block;
    width: 8rem;
    max-height: 8rem;
    overflow-y: scroll;
    overflow-x: clip;
}

ul li ul li {
    clear: both;
    width: 100%;

}


/*TOOL TIP?*/
/*http://jsfiddle.net/BumU5/3/*/

/*DROP DOWN FROM
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_js_dropdown
*/

