/* dark-mode support */
html[data-theme="dark"] {
    --main-color: #c1c1c4;
    --link-color: #9a9ef9;
    --main-color-alt: #e3e3e4;
    --main-bg-color: #1e1e1e;
    --content-bg-color: #121212;
    --content-active-color: #2c3454;
    --content-border-color: #222840;
    --content-bg-color-alt: #10131f;
    --header-color: #17a81a;
    --header-bg-color: #0c0c0c;
    --highlight-anim-color: #195980;
    --admonition-note-color: rgba(197, 211, 244, .25);
    --admonition-warning-color: rgba(255, 228, 228, .25);
    --admonition-important-color: rgba(246, 203, 151, .25);
}

[data-theme="dark"] pre,
[data-theme="dark"] .LegaleseLeft,
[data-theme="dark"] .context p img {
    filter: brightness(85%);
}

[data-theme="dark"] #navbar {
    background: var(--header-bg-color) !important;
}

/* qt-design-system overrides */
[data-theme="dark"] body.qt-design-system .b-header {
    background: var(--content-bg-color) !important;
    border-bottom: none !important;
}

[data-theme="dark"] body.qt-design-system .col-1,
[data-theme="dark"] body.qt-design-system .context {
    background-color: var(--main-bg-color);
}

[data-theme="dark"] body.qt-design-system .h-wysiwyg-html p > a:not(.c-button):not(.c-link) {
    color: var(--link-color) !important;
}

[data-theme="dark"] body.qt-design-system ul.c-breadcrump li a {
    color: var(--main-color) !important;
}

[data-theme="dark"] body.qt-design-system h6 strong {
    color: var(--main-color) !important;
}

[data-theme="dark"] body.qt-design-system ul.c-breadcrump li a::before,
[data-theme="dark"] body.qt-design-system ul.c-breadcrump li span::before,
[data-theme="dark"] body.qt-design-system .c-sidebar-navigation .c-sidebar-navigation--parent > a::after {
    border-color: var(--main-color) !important;
}

[data-theme="dark"] body.qt-design-system .b-sidebar--full-width .b-sidebar__sidebar {
    background-color: var(--main-bg-color) !important;
}

[data-theme="dark"] body.qt-design-system .c-sidebar-navigation a {
    color: var(--main-color) !important;
}

[data-theme="dark"] body.qt-design-system .c-sidebar-navigation .c-sidebar-navigation--active a {
    color: var(--link-color) !important;
}
[data-theme="dark"] body.qt-design-system .c-sidebar-navigation > li {
    border-color: rgba(70,93,80,0.4) !important;
}

[data-theme="dark"] body.qt-design-system .b-header__secondary-level a:not(.c-button),
[data-theme="dark"] body.qt-design-system .b-header__secondary-level a:not(.c-button):before,
[data-theme="dark"] body.qt-design-system .c-navigation-header > li > a {
    color: var(--header-color) !important;
    border-color: var(--header-color) !important;
}

[data-theme="dark"] body.qt-design-system [data-scheme] a:not(.c-button):hover {
    color: var(--header-color) !important;
}

[data-theme="dark"] body.qt-design-system .c-navigation-header > li > a:hover {
    opacity: .5;
}

[data-theme="dark"] body.qt-design-system {
    background: var(--main-bg-color) !important;
}

[data-theme="dark"] body.qt-design-system .main_index {
    background: none !important;
}

[data-theme="dark"] body.qt-design-system [data-scheme] h1,
[data-theme="dark"] body.qt-design-system [data-scheme] h2,
[data-theme="dark"] body.qt-design-system [data-scheme] h3,
[data-theme="dark"] body.qt-design-system [data-scheme] h4 {
    color: var(--main-color-alt) !important;
}

[data-theme="dark"] body.qt-design-system [data-scheme] p {
    color: var(--main-color) !important;
}

[data-theme="dark"] body.qt-design-system .c-feature,
[data-theme="dark"] body.qt-design-system .c-box--grey,
[data-theme="dark"] body.qt-design-system .c-grey-box--grey {
    background: #09102b !important;
}
[data-theme="dark"] body.qt-design-system .c-hamburger::after,
[data-theme="dark"] body.qt-design-system .c-hamburger::before {
    background: var(--header-color);
}
[data-theme="dark"] body.qt-design-system .c-feature.c-feature--external-link .c-feature__overlay-link:hover:before {
    border-color: var(--highlight-anim-color) !important;
}
[data-theme="dark"] body.qt-design-system .c-form-select {
    border-color: var(--content-active-color) !important;
}

/* gsc overrides */
[data-theme="dark"] .gsc-search-button-v2 svg {
    fill: #333 !important;
}
[data-theme="dark"] .gsc-control-cse {
    border-color:var(--content-bg-color) !important;
    background-color:var(--content-bg-color) !important;
}
[data-theme="dark"] input.gsc-input,
[data-theme="dark"] .gsc-input-box,
[data-theme="dark"] .gsc-input-box-hover,
[data-theme="dark"] .gsc-input-box-focus {
    border-color:var(--content-bg-color-alt) !important;
}
[data-theme="dark"] .gsc-tabHeader.gsc-tabhActive,
[data-theme="dark"] .gsc-refinementHeader.gsc-refinementhActive {
    color:var(--main-color) !important;
    border-color:var(--main-color) !important;
    background-color:var(--content-bg-color) !important;
}
[data-theme="dark"] .gsc-tabHeader.gsc-tabhInactive,
[data-theme="dark"] .gsc-refinementHeader.gsc-refinementhInactive {
    color:var(--main-color) !important;
    border-color:var(--main-color) !important;
    background-color:var(--content-bg-color) !important;
}
[data-theme="dark"] .gsc-webResult.gsc-result,
[data-theme="dark"] .gsc-results .gsc-imageResult {
    border-color:var(--content-bg-color) !important;
    background-color:var(--content-bg-color) !important;
}
[data-theme="dark"] .gsc-webResult.gsc-result:hover {
    border-color:var(--content-bg-color) !important;
    background-color:var(--content-bg-color) !important;
}
[data-theme="dark"] .gs-webResult.gs-result a.gs-title:link,
[data-theme="dark"] .gs-webResult.gs-result a.gs-title:link b,
[data-theme="dark"] .gs-imageResult a.gs-title:link,
[data-theme="dark"] .gs-imageResult a.gs-title:link b {
    color:var(--link-color) !important;
}
[data-theme="dark"] .gs-webResult.gs-result a.gs-title:visited,
[data-theme="dark"] .gs-webResult.gs-result a.gs-title:visited b,
[data-theme="dark"] .gs-imageResult a.gs-title:visited,
[data-theme="dark"] .gs-imageResult a.gs-title:visited b {
    color:var(--link-color) !important;
}
[data-theme="dark"] .gs-webResult.gs-result a.gs-title:hover,
[data-theme="dark"] .gs-webResult.gs-result a.gs-title:hover b,
[data-theme="dark"] .gs-imageResult a.gs-title:hover,
[data-theme="dark"] .gs-imageResult a.gs-title:hover b {
    color:var(--link-color) !important;
}
[data-theme="dark"] .gs-webResult.gs-result a.gs-title:active,
[data-theme="dark"] .gs-webResult.gs-result a.gs-title:active b,
[data-theme="dark"] .gs-imageResult a.gs-title:active,
[data-theme="dark"] .gs-imageResult a.gs-title:active b {
    color:var(--link-color) !important;
}
[data-theme="dark"] .gsc-cursor-page {
    color:var(--link-color) !important;
}
[data-theme="dark"] a.gsc-trailing-more-results:link {
    color:var(--link-color) !important;
}
[data-theme="dark"] .gs-webResult:not(.gs-no-results-result):not(.gs-error-result) .gs-snippet,
[data-theme="dark"] .gs-fileFormatType {
    color:var(--main-color-alt) !important;
}
[data-theme="dark"] .gs-webResult div.gs-visibleUrl {
    color:var(--link-color) !important;
}
[data-theme="dark"] .gs-webResult div.gs-visibleUrl-short {
    color:var(--link-color) !important;
}
[data-theme="dark"] .gsc-cursor-box {
    border-color:var(--content-bg-color) !important;
}
[data-theme="dark"] .gsc-results .gsc-cursor-box .gsc-cursor-page {
    background-color:var(--link-color) !important;
    padding:1px;
}
[data-theme="dark"] .gsc-results .gsc-cursor-box .gsc-cursor-current-page {
    border-color:var(--main-color) !important;
    background-color:var(--content-bg-color) !important;
    color:var(--main-color) !important;
}
[data-theme="dark"] .gsc-webResult.gsc-result.gsc-promotion {
    border-color:var(--main-color-alt) !important;
    background-color:var(--content-bg-color) !important;
}
[data-theme="dark"] .gsc-completion-title {
    color:var(--link-color) !important;
}
[data-theme="dark"] .gsc-completion-snippet {
    color:var(--main-color-alt) !important;
}
[data-theme="dark"] .gs-webResult div.gs-per-result-labels a.gs-label {
    background-color: #777 !important;
    margin-left:5px
}
[data-theme="dark"] .gsc-completion-container {
    background: var(--content-bg-color-alt) !important;
}
