
#main {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    width: 80vw;
}

#home-navbar {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2vw 2vh;
    /*margin: 0;*/
    margin: 2vh;
    background: #2b2c31;
    box-shadow: black 0.1cm 0.1cm 0.1cm, black 5px 5px 5px;
    width: 80vw;
}

.home-navbar-title-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-navbar-title-line {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: x-large;
    text-shadow:
            1px 1px 1px rgb(0, 0, 1),
            1px 1px 12px rgb(0, 0, 0);
}

#home-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 80vw;
}

#home-buttons {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: space-around;
    width: 10cm;
}

#home-buttons a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: monospace;
    font-weight: bolder;
    font-size: xxx-large;
    text-align: center;
    padding: 0.3cm;
    border-radius: 0.5cm;
    margin-bottom: 2.5vh;
    background: #1161a8;
}

#home-buttons a:hover {
    background-color: #63abf3;
}

#home-buttons a {
    box-shadow: black 0 3px 5px 2px;
}

#slideshow {
    display: flex;
    align-items: center;
    flex-direction: column;
}


#slideshow-image {
    max-width: 100%;
    max-height: 100%;
}

#btnBox {
    display: flex;
}

#btnBox button {
    background: #1b6d85;
}

.btn-left, .btn-right {
    z-index: 23;
}


.figcaption-style {
    font-size: x-large;
    font-weight: bolder;
    text-shadow:
            2px 2px 5px rgb(0, 0, 0),
            2px 2px 12px rgb(0, 0, 0);
    background: rgba(3, 0, 0, 0.38);
    width: fit-content;
}


@keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
}

.slideshow-bg {
    position: absolute;
    box-sizing: border-box;
    background: transparent;
    max-width: 80vw;
    margin: 0;
    padding: 0;
    z-index: -1;
}

.slideshow-bg, figure {
    margin: 0;
    font-weight: 100;
    width: 80vw;
}

div#captioned-gallery {
    overflow: hidden;
    height: auto;
}

figure.slider {
    position: relative;
    width: 500%;
    font-size: 0;
    -webkit-animation: slidy 30s  infinite linear;
    -moz-animation: slidy 30s  infinite linear;
    animation: slidy 30s  infinite linear;
}

figure.slider figure {
    width: 20%;
    height: auto;
    display: inline-block;
    position: inherit;
}

figure.slider img {
    width: 100%;
    /*height: auto;*/
    min-height: 500px;
    height: auto;
}

figure.slider figure figcaption {
    position: absolute;
    bottom: 0;
    /*background: transparent;*/
    color: #fff;
    width: 100%;
    font-size: 2rem;
    padding: .6rem;
}


