
#main {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    width: 80vw;
}

#home-navbar {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2vw 2vh;
    /*margin: 0;*/
    margin-top: 1vh;
    margin-bottom: 1vh;
    background: #2b2c31;
    width: 80vw;
}

.home-navbar-title-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-navbar-title-line {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: x-large;
}

#home-navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#home-navbar ul li {
    text-decoration: none;
    list-style-type: none;
    color: aliceblue;
    font-size: xx-large;
}

#home-content {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 80vw;
}

#home-buttons {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: space-around;
    width: 10cm;
}

#home-buttons a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: monospace;
    font-weight: bolder;
    font-size: xxx-large;
    text-align: center;
    padding: 0.3cm;
    border-radius: 0.5cm;
    margin-top: 1cm;
    background: #1161a8;
}

#home-buttons a:hover {
    background-color: #63abf3;
}

#home-buttons a {
    box-shadow: black 0 3px 5px 2px;
}

#slideshow {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.slideshow-image {
    /*http://jsfiddle.net/xwrvxser/1/*/
    height: 80%;
    width: 100%
}

#slideshow-image {
    max-width: 100%;
    max-height: 100%;
}

#btnBox {
    display: flex;
}
#btnBox button {
    background: #1b6d85;
}

.btn-left,.btn-right {
    z-index: 23;
}


