#background-rules
{
    background:black;
    padding:1rem;
    font-family: monospace;
    font-weight: bold;
    font-size: x-large;
    color: green;
    border:teal 1px solid;
    box-shadow: #1161a8 4px 4px 4px 4px;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

#background-rules div {
    font-family: monospace;
    /*color: #1160a8;*/
}

.background-rules-title
{
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
}


#md {
    background: black;
    padding: 1.5rem;
}


#md h1 {
    text-align: center;
}


#md p img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.foocolor {
    color: #9a9ef9;
}
